<div class='topTitle'>
  <div id='nav'>
    <a class="clarkandcode" ui-sref='clark'><div>Clark</div>
      <div class='under'>^ About Me ^</div>
    </a>
    <div><span>and</span></div>
    <a class="clarkandcode" ui-sref="code"> Code
      <div class='under wiggle'>^ Projects ^</div>
    </a>
  </div>
</div>

<div class='contactForm'>
  <input type="text" placeholder="Name">
  <input type='text' placeholder="Company Name">
  <input type="email" placeholder="Email">
  <textarea name="name" rows="8" cols="40" placeholder="Message Here" ></textarea>
  <button>Submit</button>
</div>
