body {
  background-color: #4d4d4d;
  color: red;
  font-size: 7vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.icons {
  width: 10vw;
  border-radius: 10%;
}
.card {
  font-size: 2vw;
  border-radius: 5%;
  width: 20vw;
  margin-top: 10vw;
  border: 2px solid white;
}
a{
  text-decoration: none;
}
.topTitle span {
  font-size: 6vw;
  color: yellow;
}
span {
  font-size: 17vw;
  color: yellow;
}
#function{
  font-size: 1vw;
  line-height: 10px;
}
@-webkit-keyframes wiggle {
	0% {
		-webkit-transform:rotate(4deg);
	}
	50% {
		-webkit-transform:rotate(-4deg);
	}
	100% {
		-webkit-transform:rotate(4deg);
	}
}

.wiggle {
	-webkit-animation: wiggle 0.5s infinite;
}
.code{
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 4vw;
}
.code a{
  text-decoration: none;
  color: red;

}
.contactForm{
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  border: .5vw double red;
  padding: 2vw;
  border-radius: 12px;
}
input, button{
  width: 50vw;
  border-radius: 12px;
  margin-bottom: .5vw;
  font-size: 2vw;
}
textarea{
  width: 50vw;
  border-radius: 12px;
  margin-bottom: .5vw;
}
.topTitle{
  top:0;
  left:0;
  margin-top: 3vh;
  width: 100%;
  height: 100%;
  background-color: #4d4d4d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 4vw;
  align-items: center;
}
#title{
  top:0;
  left:0;
  margin-top: 3vh;
  width: 100%;
  height: 100%;
  background-color: #4d4d4d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 4vw;
  align-items: center;
}
.topTitle > #nav {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 15vh;
  border-bottom: .01vw solid lightgrey;
  display: flex;
  justify-content: center;
  line-height: 4vw;
  align-items: center;
  background-color: #333;
  font-size: 3vw;
}
#nav {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 94vh;
  border-bottom: .01vw solid lightgrey;
  display: flex;
  justify-content: center;
  line-height: 4vw;
  align-items: center;
  background-color: #333;
}

.clarkandcode {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.5vw;
  height: 8vw;
  background-color: rgba(255, 255, 0, 0);;
  transition: all 2s linear;
}

.clarkandcode:hover{
  /*background-color: rgba(255, 255, 0, 1);;*/
  border-radius: 40%;
  height: 8vw;
  border: .2vw solid red;
}

.under {
  font-size: 2vw;
  margin-top: 1vw;
}

.contactBubble {
  background-image: url('https://pbs.twimg.com/profile_images/688949191431749632/qeB-8sN5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position:fixed;
  bottom: 1vw;
  left: 1vw;
  border-radius: 50%;
  display: flex;
  flex-direction: column-reverse;
  height: 200px;
  width: 200px;
  align-items: center;
}
.contact{
  color:yellow;
  font-size: 50pt;
  background-color: rgba(255, 0, 0, 0.4);
  height: 50px;
  line-height: 50px;
  border-radius: 12px;
}

@media (max-width: 750px){
  #nav{
    flex-direction: column;
    font-size: 25vw;
  }
  span {
    font-size: 50vw;
  }
  .clarkandcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 500ms ease-out;
    margin-top: 12vh;
    margin-bottom: 12vh;
  }

  .clarkandcode:hover{
    transform: scale(1.3);
    background-color: rgba(0, 0, 0, 0.0);
    border: .2vw solid rgba(0, 0, 0, 0.0);
  }

  .wiggle {
    font-size: 15vw;
    margin-top: 2vw;
  }
  .contactBubble {
    background-image: url('https://pbs.twimg.com/profile_images/688949191431749632/qeB-8sN5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position:fixed;
    bottom: 1vw;
    left: 1vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column-reverse;
    height: 150px;
    width: 150px;
    align-items: center;
  }
  .contact{
    color:yellow;
    font-size: 30pt;
    background-color: rgba(255, 0, 0, 0.4);
    height: 30px;
    line-height: 30px;
    border-radius: 12px;
  }

}
